# https://github.com/deplives/OpenWrt-CI-RC

name: OpenWrt Builder RC

on:
  workflow_dispatch:
    inputs:
      remark:
        description: "remark"
        required: true
        default: "manually"

      mode:
        description: "mode(stable|dev|beta)"
        required: false
        default: "dev"

      commit_hash:
        description: "commit hash"
        required: false
        default: ""

      kernel:
        description: "kernel"
        required: true
        default: "5.10"

env:
  REPO: https://github.com/deplives/lede.git
  CONFIG: x86.${{ github.event.inputs.mode }}.config
  FEEDS_SH: feeds.sh
  FIRST_SH: first.sh
  SECOND_SH: second.sh
  TIMEZONE: Asia/Shanghai

jobs:
  Compile:
    runs-on: ubuntu-20.04

    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          ref: main
          fetch-depth: 0

      - name: Space cleanup
        run: |
          sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php* android*
          sudo rm -rf /etc/apt/sources.list.d /usr/share/dotnet /usr/local/lib/android /etc/mysql /etc/php /opt/ghc
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          docker rmi $(docker images -q)
          df -hT $PWD

      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        if: success() && !cancelled()
        run: |
          sudo timedatectl set-timezone "$TIMEZONE"
          sudo -E apt-get update
          sudo -E apt-get -y install $(curl -fsSL https://git.io/openwrt-ubuntu-2004)
          sudo mkdir -p /workdir
          sudo chown $USER:$GROUPS /workdir

      - name: Clone source code
        working-directory: /workdir
        if: success() && !cancelled()
        run: |
          if [ ${{ github.event.inputs.mode }} == 'stable' ]; then
            git clone $REPO openwrt
          else
            git clone $REPO -b ${{ github.event.inputs.mode }} openwrt
          fi
          ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt
          cd openwrt
          if [ -n "${{ github.event.inputs.commit_hash }}" ]; then 
            git reset --hard ${{ github.event.inputs.commit_hash }}
          fi
          echo "COMMITHASH=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Cache
        uses: deplives/cacheopenwrt@main
        with:
          ccache: true
          prefix: ${{ github.workspace }}/openwrt

      - name: Switch kernel
        if: success() && !cancelled()
        run: |
          cd openwrt
          CURRENT_KERNEL_PATCHVER=$(cat target/linux/x86/Makefile | grep KERNEL_PATCHVER | awk -F ':=' '{print $2}')
          CURRNET_KERNEL_TESTING_PATCHVER=$(cat target/linux/x86/Makefile | grep KERNEL_TESTING_PATCHVER | awk -F ':=' '{print $2}')
          sed -i "s/KERNEL_PATCHVER:=$CURRENT_KERNEL_PATCHVER/KERNEL_PATCHVER:=${{ github.event.inputs.kernel }}/g" target/linux/x86/Makefile
          sed -i "s/KERNEL_TESTING_PATCHVER:=$CURRNET_KERNEL_TESTING_PATCHVER/KERNEL_TESTING_PATCHVER:=${{ github.event.inputs.kernel }}/g" target/linux/x86/Makefile

      - name: Run feeds.sh
        run: |
          chmod +x $FEEDS_SH
          cd openwrt
          $GITHUB_WORKSPACE/$FEEDS_SH

      - name: Update feeds
        if: success() && !cancelled()
        run: cd openwrt && ./scripts/feeds update -a

      - name: Run first.sh
        run: |
          chmod +x $FIRST_SH
          cd openwrt
          $GITHUB_WORKSPACE/$FIRST_SH ${{ github.event.inputs.mode }} ${{ env.COMMITHASH }}

      - name: Install feeds
        if: success() && !cancelled()
        run: cd openwrt && ./scripts/feeds install -a

      - name: Run second.sh
        run: |
          chmod +x $SECOND_SH
          cd openwrt
          $GITHUB_WORKSPACE/$SECOND_SH

      - name: Restore configuration
        if: success() && !cancelled()
        run: |
          [ -e files ] && mv files openwrt/files
          [ -e $CONFIG ] && mv $CONFIG openwrt/.config

      - name: Download package
        if: success() && !cancelled()
        run: |
          cd openwrt
          make defconfig
          make download -j8
          find dl -size -1024c -exec rm -f {} \;

      - name: Compile firmware
        if: success() && !cancelled()
        run: |
          cd openwrt
          make -j$(nproc) || make -j1 V=sc

      - name: Organize files
        if: success() && !cancelled()
        run: |
          cd openwrt/bin/targets/*/*
          shopt -s extglob
          rm -rf !(*.img|*.vmdk)
          shopt -u extglob
          sha256sum * > sha256sum.txt
          cp /workdir/openwrt/.config $CONFIG
          echo "FIRMWARE=$PWD" >> $GITHUB_ENV

      - name: Generate release tag
        id: tag
        if: success() && !cancelled()
        run: |
          echo "::set-output name=release_tag::OpenWrt-$(date +'%Y%m%d%H%M%S')-${{ github.event.inputs.mode }}"
          touch release.txt
          echo "Kernel Version: ${{ github.event.inputs.kernel }}" > release.txt
          echo "Commit Hash: ${{ env.COMMITHASH }}" >> release.txt
          echo "Release Note: ${{ github.event.inputs.remark }}" >> release.txt

      - name: Release
        uses: softprops/action-gh-release@v1
        if: success() && !cancelled()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          body_path: release.txt
          files: ${{ env.FIRMWARE }}/*

      - name: Remove workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 1
          keep_minimum_runs: 1
